[submodule "axis_camera_ptz"]
	path = submodules/axis_camera_ptz
	url = https://github.com/RobotnikAutomation/axis_camera_ptz.git
[submodule "robotnik_sensors"]
	path = submodules/robotnik_sensors
	url = https://github.com/RobotnikAutomation/robotnik_sensors
[submodule "joint_read_command_controller"]
	path = submodules/joint_read_command_controller
	url = https://github.com/RobotnikAutomation/joint_read_command_controller
[submodule "rbcar_common"]
	path = submodules/rbcar_common
	url = https://github.com/RobotnikAutomation/rbcar_common
[submodule "robotnik_msgs"]
	path = submodules/robotnik_msgs
	url = https://github.com/RobotnikAutomation/robotnik_msgs
[submodule "submodules/navigation_experimental"]
	path = submodules/navigation_experimental
	url = https://github.com/ros-planning/navigation_experimental
[submodule "submodules/robotnik_gazebo_plugins"]
	path = submodules/robotnik_gazebo_plugins
	url = https://github.com/RobotnikAutomation/robotnik_gazebo_plugins/
[submodule "submodules/sbpl"]
	path = submodules/sbpl
	url = https://github.com/sbpl/sbpl
[submodule "submodules/robotnik_move_base"]
	path = submodules/robotnik_move_base
	url = https://github.com/RobotnikAutomation/robotnik_move_base
[submodule "submodules/rcomponent"]
	path = submodules/rcomponent
	url = https://github.com/RobotnikAutomation/rcomponent
[submodule "rbcar_docker/robotnik_navigation_msgs"]
	path = submodules/robotnik_navigation_msgs
	url = https://github.com/RobotnikAutomation/robotnik_navigation_msgs
[submodule "submodules/robotnik_gazebo_models"]
	path = submodules/robotnik_gazebo_models
	url = https://github.com/RobotnikAutomation/robotnik_gazebo_models
