<?xml version="1.0"?>
<launch>
  <!-- Node -->
  <arg name="node_name" default="move_base_flex"/>

  <!-- Configuration -->
  <arg name="config_package" default="rbcar_sim_bringup"/>
  <arg name="config_folder" default="config/navigation/move_base"/>
  <arg name="config_path" default="$(eval find(config_package) + '/' + config_folder)"/>

  <!-- Topics -->
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="odom_topic" default="robotnik_base_control/odom"/>

  <!-- Frames -->
  <arg name="base_frame" default="robot_base_footprint"/>
  <arg name="odom_frame" default="robot_odom"/>
  <arg name="global_frame" default="map"/>


  <arg name="smach" default="true" />

  <!-- Move Base Flex -->
  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="$(arg node_name)" output="screen" >
    <param name="tf_timeout" value="2.0"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>

    <!-- Move Base Flex-->
    <rosparam file="$(arg config_path)/move_base_flex/move_base_flex.yaml" command="load" subst_value="true"/>
    
    <!-- Costmaps-->
    <rosparam file="$(arg config_path)/global_costmap.yaml" command="load" subst_value="true"/>
    <rosparam file="$(arg config_path)/local_costmap.yaml" command="load" subst_value="true"/>

    <!-- MBF params -->
    <rosparam file="$(arg config_path)/move_base_flex/planners.yaml" command="load" subst_value="true"/>
    <rosparam file="$(arg config_path)/move_base_flex/controllers.yaml" command="load" subst_value="true"/>
    <rosparam file="$(arg config_path)/move_base_flex/recovery_behaviors.yaml" command="load" subst_value="true"/>
  </node>

  <!-- SMACH Navigation State Machine -->
  <node if="$(arg smach)" pkg="robotnik_move_base_flex" type="mbf_state_machine.py" name="$(arg node_name)_state_machine" output="screen">
	    <remap from="move_base_simple/goal" to="$(arg node_name)/move_base_simple/goal"/>
      <param name="controller" value="teb_local_planner"/>
  </node>

</launch>
