<?xml version="1.0"?>
<model>
  <name>town1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Miguel Angle Rodriguez</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
  created by:
    Tree: https://skfb.ly/6SWKp
    Slum House: https://skfb.ly/6UWDM
    Japanese Shop: https://skfb.ly/6xJBG
    Japanese Restaurant: https://skfb.ly/6QYQL
    Old Japanese House: https://skfb.ly/6S8wC
    Roads: https://skfb.ly/6wQv8
    The adaptation to Gazebo model made by TheConstructSim
  </description>
</model>
