<?xml version="1.0"?>
<launch>

  <!-- roslaunch arguments -->
  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  
  <arg name="x_init_pose" default="$(optenv ROBOT_SIM_X_INIT_POSE 0)"/>
  <arg name="y_init_pose" default="$(optenv ROBOT_SIM_Y_INIT_POSE 0)"/>
  <arg name="z_init_pose" default="$(optenv ROBOT_SIM_Z_INIT_POSE 0)"/>
  
  <!--GPS default position of Robotnik at Fuente del Jarro -->
  <arg name="gps_latitude" default="$(optenv ROBOT_SIM_GPS_LATITUDE 39.5080331)" />
  <arg name="gps_longitude" default="$(optenv ROBOT_SIM_GPS_LONGITUDE -0.4619816)" />

  <arg name="use_gpu_for_simulation" default="$(optenv ROBOT_SIM_USE_GPU_FOR_SIMULATION true)" />
  <arg name="has_camera" default="true"/>

  <arg name="launch_odom_localization" default="true"/>
  <arg name="launch_world_localization" default="true"/>
  <arg name="launch_twist_mux" default="true"/>


  <arg name="robot_xacro" default="$(optenv ROBOT_XACRO versions/rbcar_roborder.urdf.xacro)"/>
  <arg name="robot_xacro_path" default="$(find rbcar_description)/robots/$(arg robot_xacro)" />

  <arg name="gazebo_debug" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="world_name" default="plano" />
  <arg name="world_path" default="$(find rbcar_gazebo)/worlds" />

  <arg name="launch_rviz" default="true"/>

  <include file="$(find rbcar_gazebo)/launch/rbcar_one_robot.launch">
    <arg name="id_robot" value="$(arg id_robot)"/>
    <arg name="prefix" value="$(arg prefix)"/>
    
    <arg name="launch_odom_localization" value="$(arg launch_odom_localization)"/>
    <arg name="launch_world_localization" value="$(arg launch_world_localization)"/>
    <arg name="launch_twist_mux" value="$(arg launch_twist_mux)"/>

    <arg name="x_init_pose" value="$(arg x_init_pose)"/>
    <arg name="y_init_pose" value="$(arg y_init_pose)"/>
    <arg name="z_init_pose" value="$(arg z_init_pose)"/>
    <arg name="gps_latitude" value="$(arg gps_latitude)"/>
    <arg name="gps_longitude" value="$(arg gps_longitude)"/>
    <arg name="use_gpu_for_simulation" value="$(arg use_gpu_for_simulation)"/>
    <arg name="robot_xacro" value="$(arg robot_xacro)"/>
    <arg name="robot_xacro_path" value="$(arg robot_xacro_path)"/>
    
  </include>

  <include file="$(find rbcar_gazebo)/launch/gazebo_rviz.launch">
    <arg name="gazebo_debug" value="$(arg gazebo_debug)" />
    <arg name="gazebo_gui" value="$(arg gazebo_gui)" />
    <arg name="gazebo_paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="world_path" value="$(arg world_path)"/>
  </include>

</launch>
