<?xml version="1.0"?>
<model>
  <name>speed_limit_80</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Miguel Angle Rodriguez</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
    Model Created by https://sketchfab.com/3d-models/low-poly-city-579d7493dbbc4cfa9fd50dde3df229bb
    All the 3Dmodel meshes were made by him.
    The adaptation to Gazebo model made by TheConstructSim
  </description>
</model>
